<h3>My Boards</h3>
<form class="create-board">
<input type="text" name="board[title]" id="create" placeholder="Add a new Board:"></input>
<button id="create-board">Create!</button>
</form>
<a href="#">Index</a>



<div class="board-index">
</div>

