<h3><%= board.escape("title") %></h3>
  <form class="create-list">
    <input type="text" name="list[title]" id="create" placeholder="Add a new List:"></input>
    <button id="create-list">Create!</button>
  </form>
<a href="#">Index</a>

<ul class="board-lists">
</ul>